* {
  border-style: none;
  /* border: 1px red solid; */
  user-select: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  border: none;
  position: relative;
}

body {
  border: none;
}

.bodyFake {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: aqua;
}

nav {
  display: flex;
  margin: 20px 20%;
  /* width: 100%; */
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding-left: 20%;
  padding-right: 40px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  transform: translateY(-70px);
  transition: 1s;
}

.navDiv {
  position: relative;
  display: flex;
  height: 65%;
  text-align: center;
  /* border: 1px solid antiquewhite; */
  cursor: pointer;
  transition: 0.5s;
}

.navDiv p {
  color: black;
  justify-content: center;
  display: block;
  margin: auto auto auto auto;
  font-size: 100%;
  font-weight: 500;
}

.navDiv::after {
  content: "";
  position: absolute;
  width: 0%;
  border-bottom: 3px solid rgb(51, 51, 51);
  height: 5px;
  bottom: 0;
  transition: 0.5s;
}

.navDiv:hover::after {
  width: 100%;
}

.navDiv:hover {
}

.khat3 {
  display: none;
}

.khatc {
  display: none;
}

.navmobile {
  display: none;
}

.your-logo{
  position: absolute;
  display: flex;
  width: 20%;
  height: 100%;
  background-color: red;
  left: 30;
}

.your-logo p {
  color: black;
  align-items: center;
  display:inline-block;
  margin: auto auto auto auto;
  font-size: 100%;
  font-weight: bold;
}

.about-me{
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 70%;
  margin: 100px auto 50px auto;
  background-color: transparent;
  backdrop-filter: blur(6px);
  border-radius: 15px;
}

/* .about{
  width: 100%;
  height: 100%;
  background-color: white;
} */

.photo-about{
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
}

.tt{
  display: flex;
  width: 1000px;
  max-width: 1000px;
  height: 2000;
  background-color: #b59dd3;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .navDiv {
    display: none;
  }

  nav {
    justify-content: flex-end;
    padding-right: 20px;
    border-radius: 0;
    margin: 0;
  }

  .khat3 {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    transform: translateY(-10px);
  }

  .khat3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
  }

  .khat3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(20px);
  }

  .khatc {
    width: 30px;
    height: 100%;
    position: absolute;
    display: flex;
    /* background-color: red; */
    opacity: 0.2;
  }

  .navmobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

    transform: translateX(100%);
    transition: 1s;
  }

  .divzabdar {
    position: absolute;
    display: block;
    width: 60px;
    height: 10px;
    border: 1px solid firebrick;
    top: 30;
    right: 30;
    transform: rotate(45deg);
  }

  .zabdar {
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: black;
    top: 30;
    right: 30;
    transform: rotate(45deg);
    border-radius: 50%;
  }

  .zabdar::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
    border-radius: 50%;
  }

  .zabdar-click{
    position: absolute;
    display: block;
    width: 50px;
    height: 40px;
    top: 10;
    right: 30;
  }

  .navmDiv {
    width: 100%;
    height: 15%;
    display: flex;
    transition: 500ms;
  }

  .navmDiv p {
    margin: auto;
    font-weight: bolder;
  }

  .navmDiv:active {
    background-color: rgb(0, 0, 0, 0.5);
    transform: scale(0.8);
  }

  .siahk {
    background-color: #b59dd3;
  }

  .sefidk {
    background-color: #b3c4fc;
  }

  .your-logo{
    width: 40%;
  }
}
